.cascading-right {
    margin-right: -50px;
  }

  @media (max-width: 991.98px) {
    .cascading-right {
      margin-right: 0;
    }
  }
  .form-control,#button{
    border-radius: 0px;
  }
  small{
    color:red;
  }
  #signup div[class="form-outline mb-4 error"] input{
    border: solid 2px red;
  }